@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ececec;
  color: #19172c;
  letter-spacing: 0.02em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #00072f;
  --secondary: #007ec7;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: #f5f5f5;

  /* breakpoints */
  --breakpoint-sm: 400px;
  --breakpoint-md: 700px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1200px;
}

:focus-visible {
  @apply outline-none ring-2 ring-secondary ring-offset-2 rounded-sm;
}

body{
  /* border: 2px solid red; */
  overflow-x: hidden;
}